<h1>Navbar here</h1>
<div data-controller="animation">
    <button data-action="click -> animation#toggle">
        Menu
    </button>
    <div data-animation-target="content" class="hidden">
        <ul>
            <li>Option 1</li>
            <li>Option 2</li>
            <li>Option 3</li>
        </ul>
    </div>
</div>